<%- include("partials/header") -%> 

<h1 class="bmi-head" >Know your BMI today!</h1>
    <div class="home">
      <p>BMI stands for Body mass index which is the weight of a person divided by square of his/her height.</p>
      
      <p>Medical professionals use the value of BMI to determine the thinness or thickness of their patients and provides appropriate medical advice.</p>
      
      <p>Commonly accepted BMI ranges are underweight (under 18.5 kg/m2), normal weight (18.5 to 25), overweight (25 to 30), and obese (over 30).</p>
      
      <p>This app is designed to help you calculate your BMI to ensure you stay healthy with normal weight.</p>
    </div>
    <a class="btn btn-primary btn-lg" href="/calculate" role="button">Get Started</a>
    



<%- include("partials/footer") -%> 